


<ion-content padding class="signup-style">

    <ion-buttons>
      <ion-button (click)="gotohome()">
        <ion-icon style="font-size: 30px; " name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

<br>

<section *ngIf="this.step=='login'">

  <ion-grid>
		<ion-row>
      <ion-col id="somelement" align-self-center size-md="6" size-lg="5" size-xs="12">


        <ion-card style="padding:10%;" > 

              <ion-row class="row" class="ion-no-padding" no-padding >
                <ion-col size="4.5">
                </ion-col>
                <ion-col size="3">
                    <a (click)="gotohome()"><ion-text>Ir Al inicio</ion-text></a>
                </ion-col>
                <ion-col size="4.5">
                </ion-col>
            </ion-row>
            <ion-row class="row" class="ion-no-padding" no-padding >
                <ion-col size="3">
                </ion-col>
                <ion-col size="6">
                    <img src="../assets/werathonlogo.png" class="img-logo">
                </ion-col>
                <ion-col size="3">
                </ion-col>
            </ion-row>
          
            <ion-item>
            <ion-input [(ngModel)]="loginuser" placeholder="E-mail o usuario"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" [(ngModel)]="loginpassword" placeholder="Contraseña"></ion-input>
            </ion-item>
          
          
            <ion-button (click)="logear()" expand='block'>Ingresar</ion-button>
            <ion-button (click)="iraregistrarse()" fill='clear'>¿Eres nuevo? Registrate</ion-button>


        </ion-card>


  </ion-col>
  </ion-row>
  </ion-grid>
    
</section>

<section  *ngIf="step=='registro'">

  <ion-grid>
		<ion-row>
      <ion-col id="somelement" align-self-center size-md="6" size-lg="5" size-xs="12">

        <ion-card  style="padding:10%;" > 
        <ion-row class="row" class="ion-no-padding" no-padding >
            <ion-col size="3">
            </ion-col>
            <ion-col size="6">
                <img src="../assets/werathonlogo.png" class="img-logo">
            </ion-col>
            <ion-col size="3">
            </ion-col>
        </ion-row>

            <section>
                <ion-item>
                   <ion-input [(ngModel)]="registercorreo" placeholder="E-mail"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="usuario" placeholder="Usuario"></ion-input>
                </ion-item>
                <ion-row>
                  <ion-col size="5.7">
                    <ion-item>
                      <ion-input type="password" [(ngModel)]="registropassword" placeholder="Contraseña"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="5.7">
                    <ion-item>
                      <ion-input type="password" [(ngModel)]="registropasswordrepetida" placeholder="Repetir Contraseña"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-item>
                  <ion-label>Country</ion-label>
                  <ion-select >
                    <ion-select-option *ngFor="let c of countryData">{{c.name}}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-row>
                  <ion-col size="5.7">
                    <ion-item>
                      <ion-input [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="5.7">
                    <ion-item>
                      <ion-input [(ngModel)]="apellido" placeholder="Apellido"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>


                <ion-row>

                  <ion-list>
                    <ion-item>
                      <ion-label style="padding: 0px;">Términos y condiciones.</ion-label>
                      <ion-checkbox slot="start" [(ngModel)]="aceptaterminos"></ion-checkbox>
                    </ion-item>
                  </ion-list>

                  <!-- <ion-col size="1">
                    <ion-checkbox></ion-checkbox>
                  </ion-col>
                  <ion-col size="11">
                    <ion-text>Términos y condiciones.</ion-text>
                  </ion-col> -->
                </ion-row>


                <!-- <re-captcha (resolved)="CaptchaResolved($event)" [siteKey]="siteKey" ></re-captcha> -->
                <!-- <ion-text>Captcha {{IsCatpchaValid | json}}</ion-text> -->
                <!-- <ion-text *ngIf="IsCatpchaValid">Captcha resuelto, Puede registrarse...</ion-text>
                <ion-text *ngIf="!IsCatpchaValid">Esperando la completación del captcha...</ion-text> -->
                <!-- <ion-button [disabled]="!IsCatpchaValid" (click)="registrarsecorreo()" style="--background: #35CA75;" expand='block'>Registrarse</ion-button> -->
                <ion-button (click)="registrarsecorreo()" expand='block'>Registrarse</ion-button>

                <h6>Al registrarse, se autogenerara su nombre de usuario. podra cambiarlo en ajustes.</h6>

                <ion-button (click)="iralogin()" fill='clear'>¿Tienes Cuenta? Ingresa Aqui!</ion-button>
            </section>

    </ion-card>

    </ion-col>
  </ion-row>
  </ion-grid>

</section>