
<ion-app>

  <ion-split-pane contentId="main-content">

  <ion-menu contentId="main-content">
    <ion-content>

      <ion-item>
        <ion-icon slot="start" name="moon-outline"></ion-icon>
        <ion-label>
          Opcion1
        </ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>


      <ion-item *ngIf="tipo_cuenta==999">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        <ion-button (click)="iralpaneladmin()">
          Admin Panel
        </ion-button>
      </ion-item>

      <ion-list lines="none">
        <ion-list-header>
          Categorias:
        </ion-list-header>
        
        <!-- <ion-menu-toggle (click)="enviarcategoria(p)" autoHide="false" *ngFor="let p of appPages; let i = index">
          <ion-item style="cursor: pointer;" routerDirection="root" detail="false">
            <ion-label color="primary">
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle> -->


        <ion-menu-toggle class="ion-align-items-center" (click)="funcion(info)" autoHide="false" >
          <ion-grid class="ion-align-items-center">
            <ion-row class="ion-align-items-center" >
              <ion-col class="ion-align-items-center">
                <ion-item class="ion-align-items-center" style="cursor: pointer;" routerDirection="root" detail="false">
                  <!-- <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon> -->
                  <ion-thumbnail class="ion-align-items-center" item-start>
                  </ion-thumbnail>
                  <ion-label class="ion-align-items-center" style=" margin-bottom:32px;" color="primary">
                    Opcion del menu
                  </ion-label>
                </ion-item>
              </ion-col>
        </ion-row>
        </ion-grid>

        </ion-menu-toggle>
      </ion-list>

      <ion-list lines="none">
        <ion-list-header>
          Mi Cuenta
        </ion-list-header>

        <ion-menu-toggle autoHide="false">

            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon color="primary" slot="start" name="person"></ion-icon>
            <ion-label>
              Mi Cuenta
            </ion-label>
          </ion-item>
          <ion-item (click)="logout()" routerDirection="root" detail="false">
            <ion-icon color="primary" slot="start" name="log-out"></ion-icon>
            <ion-label>
              Salir
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon color="primary" slot="start" name="help"></ion-icon>
            <ion-label>
              Soporte
            </ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>

      <ion-list lines="none">
        <ion-list-header>
          Account
        </ion-list-header>



        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>
              Soporte
            </ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>

      <ion-list lines="none">
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <ion-menu-toggle autoHide="false">
          <ion-item button (click)="openTutorial()" detail="false">
            <ion-icon slot="start" name="hammer"></ion-icon>
            <ion-label>Ver Tutorial</ion-label>
          </ion-item>
          <!-- <ion-item button (click)="api()" detail="false">
            <ion-icon slot="start" name="hammer"></ion-icon>
            <ion-label>Api</ion-label>
          </ion-item>
          <ion-item button (click)="api()" detail="false">
            <ion-icon slot="start" name="hammer"></ion-icon>
            <ion-label>lista</ion-label>
          </ion-item> -->
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>

</ion-app>


