
<ion-app >
  
  
  <ion-split-pane  contentId="main-content">

    <ion-menu (ionDidClose)="mostraramburgesa()" (ionWillOpen)="ocultarhamburgesa()" contentId="main-content">

      <ion-content>
        
      <ion-item>
        <ion-label>
          <img width="30%" height="30%" src="../assets/werathonlogo.png" class="img-logo">&nbsp; &nbsp;<a style="font-family:Verdana, Geneva, Tahoma, sans-serif; margin-top: -20px;">Werathon App</a>
        </ion-label>
        <ion-buttons class="hidden-lg-up" hideWhen="portrait">
          <ion-button (click)="CloseMenuFlechaBoton()">
            <ion-icon color="primary" name="arrow-back-outline"></ion-icon>

          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item (click)="toggleMenu()" *ngIf="this.varios.tipo_cuenta==999" routerLink="/paneladmin">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        <ion-button (click)="iralpaneladmin()">
          Admin Panel
        </ion-button>
      </ion-item>

      <ion-list lines="none">
        <ion-list-header>
          Menu Principal:
        </ion-list-header>
        
        <!-- <ion-menu-toggle auto-hide="false"> -->
        <ion-item routerDirection="root" (click)="toggleMenu()" routerLink="/home" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="home-outline"></ion-icon> &nbsp; &nbsp; 
          <ion-label >Inicio</ion-label>
        </ion-item>
        <ion-item routerDirection="root" (click)="ONCHANGEusuario()" lines="none" auto-hide="false" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="person"></ion-icon> &nbsp; &nbsp; 
          <ion-label *ngIf="!mostrareditarperfil">Usuario</ion-label>
          <ion-label color="primary" *ngIf="mostrareditarperfil">Usuario</ion-label>
        </ion-item>
            <ion-item *ngIf="mostrareditarperfil" routerDirection="root" (click)="toggleMenuDeeditarPerfil()" routerLink="perfil" lines="none" detail="false" routerLinkActive="selected">
              &nbsp; &nbsp; &nbsp; &nbsp;  <ion-icon color="primary" name="create"></ion-icon> &nbsp; &nbsp; 
              <ion-label >Editar Perfil</ion-label>
            </ion-item>
        <ion-item routerDirection="root" (click)="toggleMenu()" routerLink="/miscompras" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="pricetags"></ion-icon> &nbsp; &nbsp; 
          <ion-label >Mis Compras</ion-label>
        </ion-item>
        <ion-item disabled routerDirection="root" (click)="toggleMenu()" routerLink="/direccionderetiro" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="wallet"></ion-icon> &nbsp; &nbsp; 
          <ion-label >Dirección de retiro</ion-label>
        </ion-item>
        <ion-item routerDirection="root" (click)="toggleMenu()" routerLink="/misgananciasdeafiliado" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="diamond"></ion-icon> &nbsp; &nbsp; 
          <ion-label >Mis ganancias de afiliado</ion-label>
        </ion-item>
        <ion-item routerDirection="root" (click)="toggleMenu()" routerLink="/preguntas" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="help"></ion-icon> &nbsp; &nbsp; 
          <ion-label >Preguntas</ion-label>
        </ion-item>
        <ion-item routerDirection="root" (click)="toggleMenu()" routerLink="/guia" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="hammer"></ion-icon> &nbsp; &nbsp; 
          <ion-label >Guia</ion-label>
        </ion-item>

        <ion-item routerDirection="root" (click)="ONCHANGEsoporte()" lines="none" auto-hide="false" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="headset"></ion-icon> &nbsp; &nbsp; 
          <ion-label *ngIf="!mostrarmensaje">Soporte</ion-label>
          <ion-label color="primary" *ngIf="mostrarmensaje">Soporte</ion-label>
        </ion-item>
            <ion-item *ngIf="mostrarmensaje" routerDirection="root" (click)="toggleMenuSoporte()" routerLink="/soporte" lines="none" detail="false" routerLinkActive="selected">
              &nbsp; &nbsp; &nbsp; &nbsp;  <ion-icon color="primary" name="mail-unread"></ion-icon> &nbsp; &nbsp; 
              <ion-label >Mensaje</ion-label>
            </ion-item>


        <ion-item routerDirection="root" (click)="logout()" routerLink="/login" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon color="primary" name="chevron-back-outline"></ion-icon> &nbsp; &nbsp; 
          <ion-label >Salir</ion-label>
        </ion-item>


        <!-- </ion-menu-toggle> -->
      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>
<ion-menu-button color="primary" *ngIf="!iconohambuergesa"  menuId="main-content"></ion-menu-button>

</ion-app>


