<ion-content>
    
<img *ngIf="mostrardedos==true" style="position:absolute; top:1px; right:1px; width:35%; height:22%; opacity: 0.5;" src="assets/deslizar.gif">

    <ion-slides (ionSlideDidChange)="activardedos()" (ionSlideDrag)="desactivardedos()"  paginationType="bullets"   scrollbar="true"  autoplay="3500" loop="true" speed="3000" pager="true" [options]="slideOpts">
      <ion-slide style="background-image: url(assets/tuto-1.png); background-repeat:no-repeat;">
        <ion-card>
            <ion-card-header>
                <h1>Bienvenido a Wherathon App</h1><br>
            </ion-card-header>
            <ion-card-content>
                <h2>Recorrido Guia tutorial de Werathon App</h2><br />
                <h3>Registrate & Inicia sección</h3><br>
                <ion-text>Video <strong>Estamos trabajando en ello.</strong></ion-text>

                                <br><br><br><br><br>

            </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="cartaconscrolly300dealto" style=" background-image: url(assets/tuto-2.png);background-repeat:no-repeat;">
        <ion-card style="height:50%; width: 85%; overflow-y: scroll;">
            <h1>FASES DE ICO:</h1>
            <ion-card-content class="ion-text-center">
                <ion-row>
                    <ion-col><strong>Fase</strong></ion-col>
                    <ion-col><strong>Limite</strong></ion-col>
                    <ion-col><strong>Precio</strong></ion-col>
                    <ion-col><strong>Tokens</strong></ion-col>
                </ion-row>
                <ion-row *ngFor="let cadafase of respuestadewerathonobtenertablafase">
                    <ion-col style="font-size: small;">{{cadafase.numero}}</ion-col>
                    <ion-col>{{cadafase.limitefaseusd}}$</ion-col>
                    <ion-col>{{cadafase.precio_wera_usd}}</ion-col>
                    <ion-col style="font-size: 9px;">{{cadafase.asignaciondetokens}}</ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        
      </ion-slide>
      <ion-slide  style=" background-image: url(assets/tuto-3.png);background-repeat:no-repeat;">
        <ion-card>
            <ion-card-header>
                <h1>Recorrido Tutorial Page Nro. 3</h1><br>
            </ion-card-header>
            <ion-card-content>
               
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            </ion-card-content>
        </ion-card>
        

    </ion-slide>
    </ion-slides>


  </ion-content>